<h1>Listing contact_requests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Address</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Best time to contact</th>
      <th>Inquiry details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_requests.each do |contact_request| %>
      <tr>
        <td><%= contact_request.name %></td>
        <td><%= contact_request.company %></td>
        <td><%= contact_request.address %></td>
        <td><%= contact_request.email %></td>
        <td><%= contact_request.telephone %></td>
        <td><%= contact_request.best_time_to_contact %></td>
        <td><%= contact_request.inquiry_details %></td>
        <td><%= link_to 'Show', contact_request %></td>
        <td><%= link_to 'Edit', edit_contact_request_path(contact_request) %></td>
        <td><%= link_to 'Destroy', contact_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact request', new_contact_request_path %>
