<h1>Listing employment_applications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Business name</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Current sop details</th>
      <th>How did you hear</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employment_applications.each do |employment_application| %>
      <tr>
        <td><%= employment_application.name %></td>
        <td><%= employment_application.business_name %></td>
        <td><%= employment_application.address %></td>
        <td><%= employment_application.telephone %></td>
        <td><%= employment_application.email %></td>
        <td><%= employment_application.current_sop_details %></td>
        <td><%= employment_application.how_did_you_hear %></td>
        <td><%= link_to 'Show', employment_application %></td>
        <td><%= link_to 'Edit', edit_employment_application_path(employment_application) %></td>
        <td><%= link_to 'Destroy', employment_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment application', new_employment_application_path %>
